h1 {
  color: #292828;
  margin-top: 150px;
}

hr {
  margin: 0 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-between;
}

.bookmark a {
  color: #292828;
  text-decoration: none;
}

.card {
  color: #292828;
  text-decoration: none;
}

.image {
  width: 100%;
  height: auto;
  padding: 20px;
}

h1,
.preview,
.more-results {
  padding: 0 20px;
}

.title {
  margin: 20px 0 20px 0;
}

.date,
.preview-text,
.image,
.read-more {
  margin-bottom: 20px;
}

.read-more {
  color: blue;
  text-decoration: underline;
}

.more-results {
  display: flex;
  flex-direction: row;
  margin: 40px 0;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
}

#arrowDown {
  margin: 2px 5px;
}

@media (min-width: 768px) {
  h1 {
    margin: 150px auto 0 auto;
    padding: 0;
  }

  hr {
    margin: 0 auto;
  }

  .menu {
    margin: 20px auto;
  }

  .card {
    color: #292828;
    text-decoration: none;
    margin: 0 auto;
  }

  .preview {
    margin: 0 auto;
    padding: 0;
  }

  .more-results {
    margin: 40px auto;
    padding: 0;
  }

  .image {
    height: auto;
    padding: 0;
    max-width: 700px;
    display: block;
    margin: 0 auto;
  }

  h1,
  hr,
  .menu,
  .card,
  .more-results,
  .preview {
    max-width: 700px;
  }
}
